@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
#ui-container {
    position: absolute;
    top: 23%;
    left: 67%;
    display: flex;
    flex-direction: column;
    height: 45vh;
    overflow: auto;
}

.buttonheader {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-bottom: 0.5rem;
    background-color: rgb(220, 20, 60);
    border: none;
    border-radius: 0.3rem;
    width: 17vw;
    height: fit-content;
    padding: 0.2rem;
    outline: none;
}

.buttonheader>.main {
    font-size: 0.88rem;
    text-decoration: none;
    height: fit-content;
}

.buttonheader>.desc {
    font-size: 0.7rem;
    text-decoration: none;
    height: fit-content;
}

.button {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin-bottom: 0.3rem;
    background-color: rgb(220, 20, 60);
    border: none;
    border-radius: 0.3rem;
    width: 17vw;
    height: fit-content;
    padding: 0.4rem;
    outline: none;
}

.button>.main {
    font-size: 1rem;
    text-decoration: none;
    height: fit-content;
}

.button>.desc {
    font-size: 0.87rem;
    text-decoration: none;
    height: fit-content;
}

.button:hover,
.buttonheader:hover {
    background-color: rgb(190, 0, 50);
}

.button:active,
.buttonheader:active {
    background-color: rgb(150, 10, 40);
}